<div id="project">
  <form method="POST"  @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" class="input" v-model="form.name" >
      <span style='color: red;' v-text="form.errors.get('name')" v-if="form.errors.has('name')"></span>
    </div>
    <div>
      <label for="description">description</label>
      <input type="text" id="description" name="description" class="input" v-model="form.description">

      <span style='color: red;' v-text="form.errors.get('description')" v-if="form.errors.has('description')"></span>
    </div>
    <div class="actions">
      <button class="button" :disabled="form.errors.any()">create</button>
    </div>
  </form>
</div>
<%= javascript_pack_tag 'projects/form' %>